<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Room Pickers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- My Stuff -->
    <script src="../scripts/test.js"></script>
    <link href="../styles/db_style.css" rel="stylesheet" > 

  </head>
    <body>
      <div class="container">
          <div class="accordion" id="accordion">
            <div class="panel" id="panel">



            </div>
          </div>
          <div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="clear_modal()" aria-hidden="true">&times;  </button>
                <h4 class="modal-title" id="myModalLabel">Enter Roomate NetID(s)</h4>
              </div>
              <div class="modal-body" id="modal-body1">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="clear_modal()" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="save_modal()" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
         
        </div>

          <!-- Image Zoon Modal -->
          <div id="myModal" class="modal">
            <!-- The Close Button -->
            <span id="zoomCloseBtn" class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
          </div>

          <div id="myCarousel" class="carousel slide">
            
            

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>

		<div class="queue" id="queue">
          
        </div>

        <div class="infocontainer" id="info">
        	<h3 id="dorm"> Dorm: </h3>
        	<h3 id="picktime"> Pick Time: </h3>
        </div>

        <form>
        <div class="slidecontainer" id="slidecontainer1">
            <input type="range" min="1" max="4" value="4" class="slider" id="capRange">
            <p class="rangeLabel">Occupants: <span id="capValue"></span></p>
        </div>
        <div class="slidecontainer" id="slidecontainer2">
            <input type="range" min="150" max="500" value="500" class="slider" id="sqftRange">
            <p class="rangeLabel">Sqft: <span id="sqftValue"></span></p>
            <!-- TODO: Add functionality so button submit repopulates floors and tables (should change this from a form to pure javascript so the page doesn't have to be refreshed, look at the onclick example at line 36), call repopulate_rooms function -->
            <button type="button" class="btn btn-primary" onclick="repopulate_rooms()">Search</button>
        </div>
          
        </div>
        
      </form>

    </body>
  </head>
</html
