html {
	min-width: 1200px;
	overflow: scroll;
	position: relative;
}

.header-fixed {
    width: 50% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}





.header-fixed2 {
    margin-top: 25px;
    margin-left: 20px;
    width: 100% 
}

.header-fixed2 > thead,
.header-fixed2 > tbody,
.header-fixed2 > thead > tr,
.header-fixed2 > tbody > tr,
.header-fixed2 > thead > tr > th,
.header-fixed2 > tbody > tr > td {
    display: block;
}

.header-fixed2 > tbody > tr:after,
.header-fixed2 > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed2 > tbody {
    overflow-y: auto;
    height: 200px;
}

.header-fixed2 > tbody > tr > td,
.header-fixed2 > thead > tr > th {
    width: 12%;
    float: left;
}

.floor-button{
	width: 450px;
	margin-left: 5%;

}



.my-table{
	width: 450px;
    max-height: 95px;
	margin-left: 43%;
	margin-right: 0;
    margin-bottom: 10px;
}

.mydiv {
	margin-left: 40%;
	margin-right: 5px;
    max-height: 25px;
    margin-top:10px;
}

.slidecontainer {
    width: 14%;
    margin-left: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 12%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #01013a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #01013a;
    cursor: pointer;
    padding-bottom: 5px;
}

#slidecontainer1{
	position: absolute;
	top: 5px;
	right: 25px;
    padding-top: 5px;
	padding-left: 5px;
	border-left: 2pt solid #01013a;
}

#slidecontainer2{
	position:absolute;
	top: 50px;
	right: 25px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	border-left: 2pt solid #01013a;
	border-bottom: 2pt solid #01013a;
}

.rangeLabel{
	padding-top: 5px;
	font-size: 12px;
}

.carousel {
    position:absolute;
    top: 5px;
    left: 25px;
    width: 475px;
    height: 300px;
    border: 2pt solid #01013a;
}

.item {
    position:absolute;
    top: 5px;
    left: 25px;
    width: 475px;
    height: 275px;
}

.carousel-caption{
    padding-bottom: 5px;
    color: #01013a;
    font-family: Garamond;
}

.carousel-indicators .active{
    background-color: #01013a;
}


.my-queue-table {
    position:fixed;
    left:5px;
    width: 95%;
    border-bottom:0; 
}

.queue{
    position: fixed;
    top: 320px;
    width: 95%;
}

.queue-header {
    background-color: #01013a;
    border-bottom: #01013a;
    width: 100%;
    margin-top: 20px;
}


.queue-header-text{
    color: white;
}
 
#queue-title{
    position: fixed;
    top: 325px;
    left: 30px;
    margin-bottom: 25px;
}

.table>thead>tr>th{
  border-bottom:0; 
}

.room-header {
    background-color: #01013a;
    border-bottom: #01013a;
}


.room-header-text{
    color: white;
}

#save-queue {
    position: fixed;
    right: 50px;
    margin-bottom: 25px;
}


